.mainnav {
  background-color: #ffff;
  width: 100vw;
  height: 75px;
}


body {
  background-image: linear-gradient(to right, #fef8e6ff, transparent), url(https://i.pinimg.com/236x/4e/df/14/4edf14c48c80a555bc4566a681965121.jpg);
  display: flex;
  padding: 0px;
  margin: 0;
}


nav {
  display: flex;
  list-style: none;


}


.Hero-Section {
  position: relative;
  background-color: white;
  background: linear-gradient(to right, white 55%, transparent 100%);
  padding-bottom: 1%;
  margin-top: 10px;
  margin-right: 500px;
  margin-left: 10px;
  padding-top: 10px;
}


.navbar {
  display:flex;
}


.navitems {
  justify-content: flex-end;
  padding: 10px 50px;
  list-style: none;
  display: flex;
  gap: 40px;
}


.Home {
  text-decoration: none;
  color:#b77111;
  padding-left: 10px;
  font-size: 20px;
  text-align: right;
}



.AboutUs {
  text-decoration: none;
  color:#b77111;
  font-size: 20px;
  padding: 0px;
}


.Home:hover {
  text-decoration:underline;
}


.AboutUs:hover {
  text-decoration:underline;
}

.DROPDOWN {
  position: relative;
  display: inline-block;
  text-decoration: none;
}

.DROPDOWN .Learn {
  text-decoration: none;
  color:#b77111;
  padding: 0;
  font-size: 20px;
  text-align: right;
  font-size: none;
  border: none;
  outline: none;
}

.Learn {
  color: white;
  padding: 0px;
  text-decoration: none;
  display: inline-block;
}

.Learn:hover {
  text-decoration:underline;
}

.LEARNdropdown {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.LEARNdropdown a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.LEARNdropdown a:hover {
  background-color: #f1f1f1;
}

.DROPDOWN:hover .LEARNdropdown {
  display: block;
}
