.mainnav {
  background-color: #ffff;
  width: 100vw;
  height: 75px;
}


body {
  background-image: linear-gradient(to right, #fef8e6ff, transparent), url(https://i.pinimg.com/236x/4e/df/14/4edf14c48c80a555bc4566a681965121.jpg);
  display: flex;
  padding: 0px;
  margin: 0;
}


nav {
  display: flex;
  list-style: none;


}


.Hero-Section {
  position: relative;
  background-color: white;
  background: linear-gradient(to right, white 55%, transparent 100%);
  padding-bottom: 1%;
  margin: 10px 500px 0px 10px;
  padding-top: 10px;
}


.navbar {
  display:flex;
}


.navitems {
  justify-content: flex-end;
  padding: 10px 50px;
  list-style: none;
  display: flex;
  gap: 40px;
}


.Home {
  text-decoration: none;
  color:#b77111;
}


.AboutUs {
  text-decoration: none;
  color:#b77111;
}


.Home:hover {
  background-color: aquamarine;
}


.AboutUs:hover {
  background-color: aquamarine;
}
