.mainnav {
  background-color: #ffff;
  width: 100vw;
  height: 75px;
}

/* add linear-gradient(to top, white, transparent) after i figure out how i want the homepage to look*/
body {
  background-image: linear-gradient(to right, #fef8e6ff 5%, transparent 30%), url(Yellow-bg.jpe);
  display: flex;
  padding: 0px;
  margin: 0;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

nav {
  display: flex;
  list-style: none;
}


.navbar {
  display:flex;
}


.navitems {
  justify-content: flex-end;
  padding: 10px 50px;
  list-style: none;
  display: flex;
  gap: 40px;
}


.Home {
  text-decoration: none;
  color:#b77111;
  padding-left: 10px;
  font-size: 20px;
  text-align: right;
}


.AboutUs {
  text-decoration: none;
  color:#b77111;
  font-size: 20px;
  padding: 0px;
}

.Help {
  text-decoration: none;
  color:#b77111;
  font-size: 20px;
  padding: 0px;
}

.Help:hover {
  text-decoration: underline;
}



.Home:hover {
  text-decoration: underline;
}


.AboutUs:hover {
  text-decoration: underline;
}

.DROPDOWN {
  position: relative;
  display: inline-block;
  text-decoration: none;
}

.DROPDOWN .Learn {
  text-decoration: none;
  color:#b77111;
  padding: 0;
  font-size: 20px;
  text-align: right;
  font-size: none;
  border: none;
  outline: none;
}

.Learn {
  color: white;
  padding: 0px;
  text-decoration: none;
  display: inline-block;
}

.Learn:hover {
  text-decoration: underline;  
}

.LEARNdropdown {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(black);
  z-index: 1;
}

.LEARNdropdown a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.LEARNdropdown a:hover {
  background-color: #f1f1f1;
}

.DROPDOWN:hover .LEARNdropdown {
  display: block;
}

.question-number {
  display: inline-block;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1.5rem;
  text-align: center;
  padding: 10px;
  color: #b77111; 
}

.question-box {
  margin: 0 auto 30px 20px;
  margin-right: 5%;
  padding: 20px;
  height: 300px;
  background: #ffff;
  box-shadow: -7px 6px 0px #b77111; 
}

.options button {
  margin: 0px 20px;
  cursor: pointer;
}

#answer1 {
  display: inline-block;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1.5rem;
  text-align: center;
  padding: 10px;
  color: #b77111; 
}
